.form-component {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}
.card{
    padding: 20px;
}
.som{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}