<div class="container card som ">
    <div>
        <div class="text-center">
        <h4>Registrar Vehiculo</h4>
            <form class="form-component" #vehiculoForm="ngForm" (ngSubmit)="onSubmitVehiculo(vehiculoForm)" >
              <div class="form-group">
                <input type="text" class="form-control" 
                      name="placa" #placa="ngModel" [(ngModel)]="vehiculo.placa"
                      placeholder="Placa del Vehiculo" required autofocus>
                <input type="text" class="form-control" 
                      name="marca" #marca="ngModel" [(ngModel)]="vehiculo.marca"
                      placeholder="Marca" required autofocus>
                <input type="text" class="form-control" 
                      name="modelo" #modelo="ngModel" [(ngModel)]="vehiculo.modelo"
                      placeholder="Modelo" required autofocus>  
                
                <input type="text" class="form-control" 
                      name="color" #color="ngModel" [(ngModel)]="vehiculo.color"
                      placeholder="Color" required autofocus>
                <input type="text" class="form-control" 
                      name="batea" #batea="ngModel" [(ngModel)]="vehiculo.batea"
                      placeholder="Batea" required autofocus>
                <button class="btn btn-lg  btn-block " type="submit" [disabled]="!vehiculoForm.form.valid">Guardar</button>
  
              </div>
              <div class="form-group text-left" *ngIf="mensaje">
                  <span class="validate-danger animated fadeIn" >{{ mensaje }}</span>
              </div>
            </form>
  
          </div>
  
    </div>
  
    <div><h4>Vehiculos Registrados</h4>
  
    <div class="table-responsive" >
        <table class="table table-bordered">
          <thead class="thead-light">
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Color</th>
            <th scope="col">Placa</th>
            <th scope="col">Batea</th>
            <th scope="col">Accion</th>
          </thead>
          <tbody>
            
            <tr *ngFor="let carro of vehiculosArr">
              <td>{{ carro.marca | titlecase }}</td>
              <td>{{ carro.modelo | titlecase }}</td>
              <td>{{ carro.color | titlecase }}</td>
              <td>{{ carro.placa | titlecase }}</td>
              <td>{{ carro.batea | titlecase }}</td>
              <td>{{ carro.id | titlecase }}</td>

            </tr>            
          </tbody>
        </table>
      </div>
      
    </div>
  
  
  
  </div>
  
  