<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="sidebar">
    <div class="sidebar-header text-center">
      <img src="../../../assets/img/LogoCorpoez(2).jpg" width="100%">
    </div>

    <ul class="list-unstyled components">
      <div class="text-center">
        <p>{{ identity.nombres  }} {{ identity.apellidos }}
          <br>
          <label class="rol">{{ identity.rol }}</label>
        </p>
      </div>
      
      
      <li *ngFor="let padre of menu">
          <a *ngIf="padre.id_padre == -1" class="nav-link" [routerLink]="padre.url"><i class="icon" [ngClass]="padre.icon"></i>{{ padre.descripcion }}</a>
          <a *ngIf="padre.id_padre == 0" href="#{{padre.descripcion}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="icon" [ngClass]="padre.icon"></i>{{ padre.descripcion }}</a>
          <ul class="collapse list-unstyled" id="{{padre.descripcion}}">
            <li *ngFor="let hijo of menu">
              <a *ngIf="hijo.id_padre == padre.id" class="nav-link" [routerLink]="hijo.url">
                  <label><i class="icon" [ngClass]="hijo.icon"></i>{{ hijo.descripcion }}</label>
              </a>
            </li>
            
          </ul>
        </li>
      
    </ul>
  </nav>


  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button *ngIf="sidebar == 'active'" type="button" (click)="sidebar = ''" class="btn btn-micro">
          <i class="fas fa-arrow-alt-circle-right"></i>
        </button>
        <button *ngIf="sidebar != 'active'" type="button" (click)="sidebar = 'active'" class="btn btn-micro">
          <i class="fas fa-arrow-alt-circle-left"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-brand pl-5" >{{ identity.razonsocial}} - {{ identity.rif }}</div>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['logout',1]">
                <i class="icon fas fa-sign-out-alt"></i>SALIR
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

    <!--
    <div class="row">
      <div class="col-md-6">1</div>
      <div class="col-md-6">2</div>
    </div>
    <div class="row">
      <div class="col-md-4">1</div>
      <div class="col-md-4">2</div>
      <div class="col-md-4">3</div>
    </div>
-->
  </div>

</div>
