<div class="text-center">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
    <img class="mb-4" src="../assets/img/LogoCorpoez(2).jpg" alt="" height="180">
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Correo</label>
      <input type="email" id="inputEmail" class="form-control" 
            name="correo" #correo="ngModel" [(ngModel)]="usuario.correo"
            placeholder="Usuario" required autofocus>
    </div>
    <div class="form-group text-left">
        <span *ngIf="!correo.valid && correo.touched" class="validate-danger animated fadeIn">El email no es valido</span>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Clave</label>
      <input type="password" id="inputPassword" class="form-control" 
            name="clave" #clave="ngModel" [(ngModel)]="usuario.clave"
            placeholder="Contrasena" required>
    </div>
    <div class="form-group text-left">
        <span *ngIf="!clave.valid && clave.touched" class="validate-danger animated fadeIn">La clave no es valida</span>
    </div>
    <div class="form-group text-left" *ngIf="mensaje">
      <span class="validate-danger animated fadeIn" >{{ mensaje }}</span>
    </div>
    <button class="btn btn-lg  btn-block " type="submit" [disabled]="!loginForm.form.valid">Ingresar</button>
  </form>
  </div>