<div class="container card som">
  <div >
      <div class="text-center">
        <h4>Registrar Conductor</h4>
          <form class="form-component" #conductorForm="ngForm" (ngSubmit)="onSubmitConductor(conductorForm)" >
            <div class="form-group">
              <input type="number" class="form-control" 
                    name="cedula" #cedula="ngModel" [(ngModel)]="conductor.cedula"
                    placeholder="Cedula de Identidad" required autofocus>
              <input type="text" class="form-control" 
                    name="nombres" #nombres="ngModel" [(ngModel)]="conductor.nombres"
                    placeholder="Nombres" required autofocus>  
              <input type="text" class="form-control" 
                    name="apellidos" #apellidos="ngModel" [(ngModel)]="conductor.apellidos"
                    placeholder="Apellidos" required autofocus>
              <input type="text" class="form-control" 
                    name="telefono" #telefono="ngModel" [(ngModel)]="conductor.telefono"
                    placeholder="Telefono" required autofocus>
              <button class="btn btn-lg  btn-block " type="submit" [disabled]="!conductorForm.form.valid">Guardar</button>

            </div>
            <div class="form-group text-left" *ngIf="mensaje">
                <span class="validate-danger animated fadeIn" >{{ mensaje }}</span>
            </div>
          </form>

        </div>

  </div>

  <div><h4>Conductores Registrados</h4></div>

  <div class="table-responsive" >
      <table class="table table-bordered">
        <thead class="thead-light">
          <th scope="col">Cedula</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Tel. Movil</th>
          <th scope="col">Accion</th>
        </thead>
        <tbody>
  
          <tr *ngFor="let chofer of conductoresArr">
            <td>{{ chofer.cedula }}</td>
            <td>{{ chofer.nombres | titlecase }}</td>
            <td>{{ chofer.apellidos | titlecase }}</td>
            <td>{{ chofer. telefono | titlecase }}</td>
            <td>{{ chofer.id }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    




</div>

