<div class="container card som">
    <div class="text-center">
        <h4>Guias Solicitadas</h4>
        <div class="table-responsive" >
          <table class="table table-bordered">
            <thead class="thead-light">
              <th scope="col">Solicitud</th>
              <th scope="col">Estatus</th>
              <th scope="col">Origen</th>
              <th scope="col">Destino</th>
              <th scope="col">Accion</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>