<div class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="../assets/img/LogoCorpoez(2).jpg" alt="" height="200">
    <div class="form-row">
        <div class="col-md-3">
          <label for="inputEmail" class="sr-only">R.I.F</label>    
          <select class="custom-select form-control small" name="" id="" required >
            <option value="J">J -</option>
            <option value="G">G -</option>
          </select></div>
        <div class="col-md-9">
          <input type="text" id="inputRif" class="form-control" placeholder="RIF" required autofocus>
        </div>
    </div>

    <label for="inputEmail" class="sr-only">Correo</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Correo" required autofocus>
    <label for="inputPassword" class="sr-only">Clave</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Clave" required>
    <label for="inputRePassword" class="sr-only">Confirmar clave</label>
    <input type="password" id="inputRePassword" class="form-control" placeholder="Confirmar clave" required>
  
    <button class="btn btn-lg  btn-block " type="submit">Guardar</button>
  </form>
  </div>