/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Titillium;
    src: url(assets/fonts/TitilliumWeb-Regular.ttf) format("opentype");
  }
@font-face {
    font-family: OpenSans;
    src: url(assets/fonts/OpenSans-Regular.ttf) format("opentype");
  }

:root {
    --main-color1: #dd0000;
    --main-color2: rgb(255, 255, 255);
    --secondary-color: #dd0000;
    /*--secondary-color: #00963f;*/
    --secondary-color2: #aaaaaa;
}


.title {
  font-family: "Titillium";
  color: var(--main-color1) !important;
  font-size: 1.2em;
}

body{
  font-family: "OpenSans";
  /*color: var(--main-color1);*/
  font-size: 1em;
}

::placeholder{
  font-family: "OpenSans";
  color: var(--secondary-color);
  font-size: 0.8em;
}

.validate-danger {
  font-family: "Arial";  
  font-size:0.8em;
  color: #C52F2F;
}

.cargandoGif {
  position:absolute;
  left:40% !important ;
  top:40% !important ;
  z-index:999;
}

.icon {
  padding-right: 10px
}

.img-thumb {
  width: 50px;
  height: 50px;
}

.puntero {
  cursor: pointer;
}

.img-circle {
  border-radius: 100%;
  width: 150px;
}

/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
} 
