<div>
        <button type="button" class="btn btn-info" [routerLink]="[ 'login']">Login</button>
</div>
<br>    
<div>
        <button type="button" class="btn btn-info" [routerLink]="['registrar']">Registro</button>
</div>